body {
	font-family: sans-serif;
	color: #ffffff;
	margin: 0; 
	padding: 0;

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #000000),
		color-stop(1, #383838)
	);
	background-image: -o-linear-gradient(bottom, #000000 0%, #383838 100%);
	background-image: -moz-linear-gradient(bottom, #000000 0%, #383838 100%);
	background-image: -webkit-linear-gradient(bottom, #000000 0%, #383838 100%);
	background-image: -ms-linear-gradient(bottom, #000000 0%, #383838 100%);
	background-image: linear-gradient(to bottom, #000000 0%, #383838 100%);
	background-attachment:fixed;
	height:100%;
}

a {
	color: #FDBE0F;
}

.row a:hover {
	color: #f1a500;
}

div#maincontent {
	padding-top: 20px;
}

div#header {
	min-width: 100%;
	text-align: center;
	padding: 20px 0;
}

div#header img {
	display: inline;
	margin: 0;
	padding: 0 20px;
}

div#header h1 {
	font-size: 3em;
	display: inline;
	vertical-align: -10px;
}

div#navigation {
	font-size: 1.2em;
}

div#maincontent .pager li a {
	color: #000;
}



/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
  font-size: 1.2em;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

h3.membergroup-descr {
	margin-bottom: 20px;
}



/*#####################
Additional Styles for Slider (required)
#####################*/
#myCarousel {
	margin-top: -20px;
}

.item img {
width:100%;
}
.carousel-control.left, .carousel-control.right {
background-image:none !important;
opacity:1;
}
 
.carousel-control.left {
top:40%
}
.carousel-control.right {
top:40%
}
.carousel-caption {
top:15%;
text-align:left;
height:auto;
 
}
.carousel-caption h2 {
line-height:160%
}
.carousel-caption h2 span {
background:#428BCA;
padding:10px 20px;
color:#fff;
border-left:3px solid #fff;
}
p.caption {
background:#fff;
padding:6px;
text-shadow:none;
color:#428BCA;
}

/* GALLERY */
.thumb {
	margin-bottom: 30px;
}


/* btn-opel BEGIN */
.btn-opel { 
  color: #000000; 
  background-color: #FDBE0F; 
  border-color: #FDBE0F; 
} 
 
.btn-opel:hover, 
.btn-opel:focus, 
.btn-opel:active, 
.btn-opel.active, 
.open .dropdown-toggle.btn-opel { 
  color: #000000; 
  background-color: #f1a500; 
  border-color: #FDBE0F; 
} 
 
.btn-opel:active, 
.btn-opel.active, 
.open .dropdown-toggle.btn-opel { 
  background-image: none; 
} 
 
.btn-opel.disabled, 
.btn-opel[disabled], 
fieldset[disabled] .btn-opel, 
.btn-opel.disabled:hover, 
.btn-opel[disabled]:hover, 
fieldset[disabled] .btn-opel:hover, 
.btn-opel.disabled:focus, 
.btn-opel[disabled]:focus, 
fieldset[disabled] .btn-opel:focus, 
.btn-opel.disabled:active, 
.btn-opel[disabled]:active, 
fieldset[disabled] .btn-opel:active, 
.btn-opel.disabled.active, 
.btn-opel[disabled].active, 
fieldset[disabled] .btn-opel.active { 
  background-color: #FDBE0F; 
  border-color: #FDBE0F; 
} 
 
.btn-opel .badge { 
  color: #FDBE0F; 
  background-color: #000000; 
}
/* btn-opel END */

div.contactform {
	margin-top: 50px;
}